# Core
PySide6>=6.5.0
vtk>=9.2.0
numpy>=1.24.0
scipy>=1.10.0

# Medical imaging
SimpleITK>=2.2.0
nibabel>=5.0.0

# Segmentation engine
TotalSegmentator>=2.16.0
nnunetv2>=2.8.0

# Image processing
scikit-image>=0.20.0
matplotlib>=3.7.0

# GUI theme
PyCt6>=6.1.0

# GPU (optional)
cupy-cuda12x>=12.0.0
